{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Главная{% endblock %} :: Доска объявлений</title>
    <link rel="stylesheet" type="text/css" href="{% static 'my_shop/style.css' %}">
</head>
<body>
    <header>
        <h1>Объявления</h1>
    </header>
    <nav>
        <a href="{% url 'index' %}">Главная</a>
        <a href="{% url 'add' %}">Добавить</a>
        {% for i in rubrics %}
        <a href="{% url 'by_rubric' i.pk %}">{{ i.name }}</a>
        {% endfor %}
    </nav>
    <section>
        {% block content %}
        {% endblock %}
    </section>
</body>
</html>